*{
    box-sizing: border-box;
}
body,html{
    margin:0 ;
}
html{
    scroll-behavior:smooth;
    
}

.header {
    
    height: 75px;
    width: auto;
    background-color: #262626;
    
     /* margin-top: -10px; */
    
    
}
.logo1 {
    float: left;
    margin-top: -55px;
    
    
}
.buybutton{
    background-color: #82b440;
    
    color: white;
    position: relative;
    font-size: 18px;
    font-family: "Jost", Sans-serif;
    padding: 10px 30px;
    line-height: 1.5;
    display:inline-block;
    border-radius: 5px;
    float: right;
    margin-top: -60px;
    text-decoration: none;
    margin-right: 10px;

}
.partea1{
    display: flex;
    align-items: center; 
    justify-content: center;
    justify-content:space-evenly;
    list-style: none;
    width: 800px ;
    background-color: #142342;
}
.logo2{

}
.buynow{
    float: right;
    background-color: #CFA670;
    white-space:nowrap;
    
    color: white;
    font-weight: 600;
    position: relative;
    font-size: 16px;
    font-family: "Jost", Sans-serif;
    padding: 14px 30px 14px 30px;
    
    display:inline-block;
    border-radius:25px;
   
    
    text-decoration: none;

}
.h18px{
    font-size: 18px;

}
li{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 40px;
    padding-inline-start: 40px;
    color: white;
    font-family: "Jost", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}
#container1{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right:  15px;
}
.scrismare{
    color: white;
    font-family: "Jost", Sans-serif;
    font-size: 85px;
    font-weight: 600;
    line-height: 85px;
    
    display: flex;
    align-items: center; 
    justify-content: center;
    
}
.scris2{
    color: #ffffff;
    font-family: "Jost", Sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.7em;
    width: 1000px;
    margin:0 auto;
    text-align: center;
    margin-top: -100px;
    
}
.sectiune1{
    background-color: #142342;
}
.imghotel{
    margin-top: 100px;
}
img {
    
    max-width: 100%;
    height: auto;
  }
  .scrismare2{
    color: black;
    font-family: "Jost", Sans-serif;
    font-size: 50px;
    font-weight: 600;
    
    
    display: flex;
    align-items: center; 
    justify-content: center;
    
    
}
.scrismic2{
    color: #000000;
    
    font-family: "Bradley Hand", Cursive;
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: -30px;
}
.box1{
    font-family: "Jost", Sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center;
    justify-content: space-evenly;
    max-width: 100%;
    column-gap: 20px;
    padding: 20px;
    /* flex-wrap: wrap; */


}
.elementfelx{
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 18px;
    
    /* aaaaaaa */
}
.sectiune3{
    background-color: #f0f0f0;
}
.chenarAlb{
    padding: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    /* text-align: center; */
    display: flex;
    align-items: center; 
    justify-content: center;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  color:black;
  
  
    
}
.marimepoza{
    width: 200px;
    height: 200px;
}
.a12poze{
    /* display: flex; */
    /* align-items: center; 
    justify-content: center;
    justify-content:space-evenly;
    flex-wrap: wrap; */
    /* row-gap:55px; */
    

}
.p1din4{
    /* height: 550px; */
    max-height: 550px;
    width: 50%;
    background-color: #142342;
    color: #ffffff;
    float: left;
    display: block;
}
.scrismare3{
    color: rgb(255, 255, 255);
    font-family: "Jost", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    text-align: left;
    
    padding-left: 60px;
    
    
    display: flex;
    align-items: center; 
    justify-content: center;
    

}
.p2din4{
    height: 550px;
    width: 50%;
    background-color:#e0e0e0;
    color: #ffffff;
    float: right;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.p4din4{
    height: 700px;
    width: 50%;
    background-color:#f0f0f0;
    color:#000000;
    float: right;
    /* width:470px;*/
}
.box3{
    display: flex;
    align-items: center; 
    justify-content: center;
    justify-content: space-around;
    column-gap: 20px;
    flex-shrink: inherit;
    padding: 20px;
    /* padding-left: 100px;
    padding-right: 100px; */
    /* column-gap: 55px;
    row-gap: 55px; */


}
.scris2a{
    color: #ffffff;
    font-family: "Jost", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    white-space: nowrap ;
   
    padding: 10px;
    margin:0 auto;
    text-align: left;
    
    /* display: flex;
    align-items: center; 
    justify-content: center; */
}
.tick{
    color: #CFA670;
}
h3.scris2ab{
    font-weight: 500;
}
.scris2ab{
    color: black;
    font-family: "Jost", Sans-serif;
    font-size: 21px;
    font-weight: 520;
    line-height: 1.7em;
    
    padding-left: 60px;
    
    margin:0 auto;
    text-align: left;
    
}
.link1{
    color: #000000;
    font-size: 27px;
    font-weight: 600;
    padding-left: 60px;
    font-family: "Jost", Sans-serif;
    position: relative;
}
.sectiune4{
    background-color:#f0f0f0;
}
.sectiune5{
    background-color:#fff;
}
.scris70px{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    font-family: "Jost", Sans-serif;
}
.scris2abc{
    color: black;
    font-family: "Jost", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}
.buy{
    
}
.link2{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    font-family: "Jost", Sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 70px;

}
.sectiune6{
    background-color: #142342;
}
.scris70px2{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    font-family: "Jost", Sans-serif;
    color: #ffffff;
}
.dolar{
    color: #CFA670;
    font-size: 32px;
    font-family: "Jost", Sans-serif;
}
.scriscudolar{
    display: flex;
    align-items: center; 
    justify-content: center;

}
.lista1{
    font-size: 20px;
    font-family: "Jost", Sans-serif;
    color:#ffffff;
    padding-left: 20px;
    margin-left:20px;
    text-align: left;
}
.parte1{
    width: 50%;
    height: 800px;
    
    background-color:#e0e0e0;
    color: black;
    float: left;
    display: block;
}
.parte2{
    width: 50%;
    height: 800px;
    min-height: fit-content;
    background-color:#f0f0f0;
    color: black;
    float:right;
    display: block;

}
.sectiune7{
    background-color:#ffffff;
    
    
    
   
   
}
.background7{
    
    
    background-color:#ffffff;
    height: fit-content ;
    margin-top: 50px;
    
}
.scris70px3{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    font-family: "Jost", Sans-serif;
    color: #000000;
    
}
.chenare{
    border:1px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-bottom:50px;
    background-color: #ffffff;
    display: flex;
    display: block;
    align-items: center; 
    justify-content: center;
    
    
    font-size: 18px;
    font-family: "Jost", Sans-serif;
    color: #000000;
    max-width: 20%;
    line-height: 40px;

}
.flexbox2{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right:20px;
    column-gap: 30px;
    row-gap: 30px;
    /* justify-content: space-between; */

}
.scris2abcd{
    color: black;
    font-family: "Jost", Sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.7em;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 45px;
    padding-right: 45px;
    
}
.imgtelefon{
    background-color: #142342;
    
    padding-bottom: 60px;
    display: flex;
    justify-content: flex-start;
}
.scris2a2{
    color: #ffffff;
    font-family: "Jost", Sans-serif;
   
    font-weight: 500;
    line-height: 1.7em;
    
    padding-left: 60px;
    
    margin:0 auto;
    text-align: left;
    
    /* display: flex;
    align-items: center; 
    justify-content: center; */
}
.link12{
    color: white;
    font-size: 27px;
    font-weight: 600;
    padding: 60px;
    white-space: nowrap;
    font-family: "Jost", Sans-serif;
}
.langapozaoameni{
    /* float: right; */
    width: 50%;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFF1D2;
    display: ;
}
.proba{
    background-color:#142342;
    
    height:600px;
    color:white;
    
}

.section8{
    
    

}
    

.scris70px23{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    
    font-family: "Jost", Sans-serif;
    color: #ffffff;
    
    
}
.dolar2{
    color: #CFA670;
    font-size: 25px;
    font-weight: 500;
    font-family: "Jost", Sans-serif;
}
.link123{
    color: white;
    font-size: 27px;
    font-weight: 600;
    
    font-family: "Jost", Sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center
}
.final{
    background-color: #f0f0f0;

}
.lista4{
    font-size: 20px;
    font-family: "Jost", Sans-serif;
    color:black;
    font-weight: 500;
    padding-left: 20px;
    margin-left:20px;
    text-align: left;

}
.imgtelefon2{
    background-color: #142342;
    border-radius: 25px;
    width: 80%;
    min-height: 700px;
    margin: 0 auto;
    margin-top: -200px;
    
}
.logoFinal{
    font-size: 62px;
    font-weight: 900;
    font-family: "Jost", Sans-serif;
    color: black;
    display: flex;
    align-items: center; 
    justify-content: center;
    
}
.scris2abcde{
    color: black;
    font-family: "Jost", Sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.7em;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: -40px;
    
    
}
.display1{
    /* display flex: ;
    justify-content: flex-start;
    justify-content: center; 
    align-items: center; */
    display: inline-flex;
    

}
.chenarscris{
    background-color: #ffffff;
    border-radius: 25px;
    
    
    margin: 0;
  position: relative;
  height: auto;
    margin: 0 auto;
    
    position: relative;
    
  
    
}
.text2{
    
    color:black;
    font-size: 18px;
    font-family: "Jost", Sans-serif;
    font-weight:500 ;
    line-height: 30px;
    padding: 40px;
}
.nume{
    color: black;
    font-family: "Jost", Sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.imgaa{
    
    size: 1vh;
    padding: 10px;
}
.bgcolorb{
    background-color: #142342;
    padding-bottom: 30px;
}
.maxw{
    min-width: 155px;
    min-height: 45px;
}
@media (max-width: 965px){.buynow, .maxw, .scris2a, .scris2ab
{
 display:none
}
}
@media (max-width: 965px){
    .p2din4{
        height: 461.22px;
    }
}